
body{
    background-image: url("images/grass.png");
}

h1{
    width: 600px;
    margin: auto;
    margin-bottom: 70px;
    color: #f3bb01;
    text-align: center;
    background-color:#5d421c;
    
}

#container{
    position: relative;
}

#bingo, #banner{
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: rgba(210, 180, 140, 100%);
    text-align: center;
    font-size: xx-large;
}




.square{
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-color: yellow;

}

.content {
    position: absolute;
    height: 80%; 
    width: 90%; 
    padding: 10% 5%;
    text-align: center;
}